html {
  font-family: 'Ubuntu', sans-serif;
}

body {
  background-color: whitesmoke;
  margin: 0px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@keyframes color-changer {
  0% {
    color: black;
  }

  10% {
    color: #373534;
  }
  20% {
    color: #413E3D;
  }
  30% {
    color: #65605F;
  }
  40% {
    color: #7A7574;
  }
  50% {
    color: #9F9897;
  }
  60% {
    color: #7A7574;
  }
  70% {
    color: #65605F;
  }
  
  80% {
    color: #413E3D;
  }
  90% {
    color: #373534;
  }
  100% {
    color: black;
  }
}


#name {
  display: flex;
  justify-content: center;
  font-size: 3em;
  font-weight: 900;
  animation-name: color-changer;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  background-color: #9DA65D;
  padding: 32px 0px;
  margin: 0px;
}




/* --------------top nav items---------------*/


#mainNav {
  display: flex;
  justify-content: center;
  background-color: #8C8C88;
  margin: 0px;
  padding: 10px 0px;

  
}

#mainNav a {
  padding: 0px 10px;
  font-size: 1.2em;
  
  text-decoration: none;
  color: black;
}
#mainNav a:hover {
  color: #028D86;
  border-bottom: 1px solid #028D86;
  margin-bottom: -1px;
}






.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  padding-top: 100px;
  padding-left: 5px;
  padding-bottom: 100px;
  margin: 0px 25px;
  gap: 10px 10px ;
}

.grid-item {
  width: auto;

  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  box-shadow: 2px 2px 2px 2px #9DA65D ;
  
}


@media screen and (max-width: 900px) {


  .grid-container {
    display: inline-grid;
    grid-template-columns: auto auto;
    padding-top: 100px;
    padding-left: 5px;
    padding-bottom: 100px;
    margin: 0px 20px;
    gap: 10px 10px ;
  }
}


@media screen and (max-width: 670px) {


  .grid-container {
    display: inline-grid;
    grid-template-columns: auto;
    padding-top: 100px;
    padding-left: 5px;
    padding-bottom: 100px;
    margin: 0px 20px;
    gap: 10px 10px ;
  }
}

@media screen and (max-width: 375px) {
* {
  width: 375px;
  margin: 0;
  padding: 0;
}

  .grid-container {
    display: inline-grid;
    grid-template-columns: auto;
    padding-top: 100px;
   padding-left: 10px;
    padding-bottom: 100px;
    
    gap: 10px 10px ;
  }

  .grid-item {
    width: 350px;
    height: auto;
  }

  .grid-item img {
    width: 333px;
    margin-left: -13px;
  }
}







/*----------------footer---------------*/


#footerNav {
  display: flex;
  justify-content: center;
  background-color: #202426;
  margin: 0px;
  padding-top: 40px;
  padding-bottom: 20px;
  border-top: 1px solid rgb(58, 66, 75);

  
}

#footerNav a {
  padding: 0px 10px;
  font-size: 1.2em;
  cursor: pointer;
  text-decoration: none;
  color: seashell;
  padding: 20px;
}
#footerNav a:hover {
  color: seashell;
  border-left: 1px solid #e2e7e7;
  margin-left: -1px;
}

#copyright {
  margin-top: -10px;
  margin-bottom: -10px;
  padding: 20px;
  background-color: #202426;
  color: seashell;
  width: 100%;
}